/********** Base styles **********/
* {
  	box-sizing: border-box;
  	margin: 0;
}

h1 {
	margin-bottom: 15px;
  	text-align: center;
  	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	text-align: center;
}

p {
	clear: right;
	padding: 20px;

}

/* Simple Responsive Framework. */
.box {
	padding-left: 10px;
	padding-right: 10px;
}

.container {
	position: relative;
	margin-bottom: 15px;
	height: 150px;
	float: center;
	border: 1px solid black;
	background-color: #d1d1d1;
}

.menuBox {
	position: relative;
	float: right;
	clear: both;
	top: -1px;
	right: -1px;
	width: 140px;
	height: 20%;
	background-color: #bad4ff;
	border: 1px solid black;
}

#b1 {
	background-color: #d3aaa2;
}

#b2 {
	background-color: #ad3824;
	color: #fff;
}

#b3 {
	background-color: #dbcc8a;
}


/********** Large devices only **********/
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3 {
		float: left;
	}
	.col-lg-1 {
		width: 33.33%;
	}
	.col-lg-2 {
		width: 50%;
	}
	.col-lg-3 {
		width: 100%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2 {
		float: left;
	}
	.col-md-1 {
		width: 50%;
	}
	.col-md-2 {
		width: 100%;
	}
}

/********** Small devices only **********/
@media (max-width: 767px) {
	.col-sm-1 {
    width: 100%;
	}
}