/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	border: 1px solid black;
	float: right;
}

p {

}

/* Simple Responsive Framework. */
.row {
	width: 100%;
}

.container {
	position: relative;
	float: left;
	border: 1px solid black;
	margin: 10px;

}

.menuBox {

}


/********** Large devices only **********/
@media (min-width: 992px) {
	.desktop-1, .desktop-2, .desktop-3 {
	float: center;
    border: 1px black;
	}
	.desktop-1 {
		width: 33.33%;
	}
	.desktop-2 {
		width: 66.66%;
	}
	.desktop-3 {
		width: 100%;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.tablet-1, .tablet-2 {
	float: center;
    border: 1px black;
	}
	.tablet-1 {
		width: 50%;
	}
	.tablet-2 {
		width: 100%;
	}
}

/********** Small devices only **********/
@media (max-width: 767px) {
	.mobile {
	float: center;
    border: 1px black;
    width: 100%;
	}
}